XML/infgeografica.xml

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE geografia_mundial (paises)>
<!ELEMENT paises (pais,continente,capital)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT continente (#PCDATA)>
<!ATTLIST pais capital ID #REQUIRED>
]>
<geografia_mundial>
  <paises>
    <pais>España</pais>
    <continente>Europa</continente>
    <capital nombre="Madrid"></capital>
  </paises>
</geografia_mundial>